/*----------------------------------------------------------------------------
  Variables
----------------------------------------------------------------------------*/
// Colors
$white: #fff;
$black: #000;
$primary: #1A1A1A;
$secondary: #D4B053; 
$gold-light: #E2C16E;
$gray: #4D4D4D;
$gray-light: #d1d1d1;
$off-white: #F7F7F7;
$off-gray: #757576;

// Font families
$rubik: 'Rubik', sans-serif;
$mont: 'Montserrat', sans-serif;
$din: din-2014, sans-serif;
