/*------------------------------------------------------------------------------
  Footer
------------------------------------------------------------------------------*/
.site-footer {
  &__top {
    @include iPhoneX;

    .container {
      padding: rem(30) 0;
    }

    .col-12 {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }

  &__logo {
    width: rem(250);
    margin: 0 auto;
  }

  &__main {
    @include iPhoneX;

    .container {
      padding: rem(30) 0;

      h6 {
        font-weight: 600;
      }
    }

    .footer-form {
      .gfield {
        margin: 0 !important;
      }
      .gform_fields {
        display: flex !important;
        background-color: #09132110;
        justify-content: space-between;
      }

      input[type=email] {
        border: none !important;
        padding: rem(15) 0 rem(15) rem(15) !important; 
        font-size: rem(18);
      }

      .gform-button {
        background: transparent !important;
        border: none !important;
        display: block;
      }


      #field_submit {
        padding: rem(15) !important;
        max-width: rem(60) !important;
      }
            

    }

  }

  &__bottom {
    @include iPhoneX;
    background-color: $primary;

    .container {
      padding: rem(29) 0;
    }

    .col-12 {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }

    p {
      color: $off-gray;
      font: 400 rem(16)/1.19 $mont;
      margin: 0;
    }

  }
}

// Media Queries
@media screen and (max-width: $small-breakpoint) {
  .site-footer {
    &__top .col-12 {
      justify-content: center;
    }

    &__logo {
      flex: 0 1 100%;

      a {
        display: block;
        width: rem(280);
        margin: 0 auto rem(15);
      }
    }

    &__main .container {
      padding: rem(40) 0;
    }
  }
}
