.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba($primary, 0.3);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: #fff;
  padding: rem(50) rem(100);
  max-width: rem(900);
  max-height: 100vh;
  border-radius: 0;
  overflow-y: auto;
  box-sizing: border-box;

  audio, video {
    max-width: 100%;
  }
}

.modal__close {
  background: transparent;
  border: 0;
}

.modal__close:before {
  content: "\2716";
  font-size: rem(25);
  color: $primary;
}

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, .8);

  .container {
    padding: 0 !important;
  }

  p {
    color: #414142;
  }

  h4 {
    margin: 0;
  }

  .modal-social {
    margin: 0 0 rem(30);
  }

  .modal-position {
    font: 400 rem(24)/1.3 $din;
    color: $black;
  }

  .modal-name {
    font-size: rem(28);
    margin-bottom: rem(20);
  }

}


/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

// Media Queries
@media screen and (max-width: $medium-breakpoint) {
  .modal__content .modal-image {
    margin-bottom: rem(50);
  }

  .modal__container {
    padding: rem(20) rem(30);
  }
}