/*------------------------------------------------------------------------------
  Nav Menus
------------------------------------------------------------------------------*/
// General nav styles
nav {
  ul {
    display: flex;
    align-items: baseline;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    position: relative;
    margin: 0;
    padding: 0;
  }

  a {
    display: block;
    width: 100%;
    text-decoration: none;
  }
}

// Primary nav
.nav--primary {
  a {
    padding: rem(10);
    font: 400 rem(16)/1.19 $din;
    color: $secondary;
    text-transform: uppercase;

    &:hover {
      color: $gold-light;
    }
  }

  ul {
    width: 100%;
    justify-content: space-between;
  }

  .nav-button {
    padding: 0;

    a {
      @include buttons($secondary, $secondary, $primary, $secondary, transparent, $secondary);
      padding: rem(15) rem(20);
      font-size: rem(16);
      text-transform: uppercase;
    }
  }

  .menu-item-has-children {
    > a:after {
      content: '\f0d7';
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font-family: 'Font Awesome 5 Pro';
      font-weight: 900;
      color: $secondary;
      margin-left: rem(5);
      transition: all .4s ease;
    }

    &:hover {
      > a:after {
        color: $secondary;
      }

      >.sub-menu {
        display: block;
      }
    }

    .sub-second, .sub-third {
      left: 100%;
      top: 0;
    }

  }

  .sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    flex-wrap: wrap;
    min-width: rem(200);
    width: 150%;
    padding: rem(15) 0;
    background-color: $primary;
    z-index: 99;

    a {
      padding: rem(10) rem(12);
      text-align: left;
      text-transform: unset;
    }
  }
}

// Mobile menu
.nav--mobile {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  height: 100vh;
  padding: rem(50) 0;
  background-color: $primary;
  z-index: -1;

  > ul {
    height: inherit;
    align-content: flex-start;
    padding-bottom: rem(250);
    overflow-y: scroll;
  }

  ul {
    flex-wrap: wrap;
  }

  li {
    flex: 0 1 100%;
  }

  a {
    padding: rem(10);
    font: 400 rem(16)/1.19 $din;
    color: $white;
    text-align: center;
    text-transform: uppercase;

    &:hover {
      color: $secondary;
    }
  }

  .nav-button {
    padding: 0;
    text-align: center;

    a {
      width: auto;
      @include buttons($secondary, $secondary, $primary, $secondary, transparent, $secondary);
      padding: rem(6) rem(15);
      font-size: rem(16);
      text-transform: none;
    }
  }

  // Sub-menus
  .menu-item-has-children {
    > a {
      &:after {
        content: '\f0d7';
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        font-family: 'Font Awesome 5 Pro';
        font-weight: 900;
        font-size: rem(14);
        margin-left: rem(5);
        color: $secondary;
        transition: all .4s ease;
      }

      &:hover:after {
        color: $gold-light;
      }

      &.active:after {
        transform: rotateX(180deg);
      }
    }
  }

  .sub-menu {
    display: none;

    a {
      text-transform: none;
    }
  }
}

// Footer nav
.nav--footer {
  ul {
    display: flex;
    flex-direction: column;
  }

  > ul > li {
    flex: 0 1 100%;
    margin-right: rem(5);

    +.no-show * {
      color: transparent !important;
    }
  }

  a {
    font: 400 rem(16)/1.19 $din;
    color: $primary;
    text-align: left;

    &:hover {
      color: $gray-light;
    }

  }

  .sub-menu {
    flex-wrap: wrap;

    li {
      flex: 0 1 100%;
    }

    a {

    }
  }

}

.site-footer__bottom {

  nav > ul > li > a {
    font: 400 rem(16)/1.19 $din;
    color: $off-gray;
    margin-right: rem(30);
    // text-transform: uppercase;

    &:hover {
      color: $gray-light;
    }
  }

  .sub-menu {
    flex-wrap: wrap;

    li {
      flex: 0 1 100%;
    }
  }
}

// Media Queries
@media screen and (max-width: $small-breakpoint) {
  .nav--footer {
    padding: rem(20) 0;
    > ul > li {
      flex: 0 1 49%;
    }
  }

  .site-footer__bottom  .menu > ul {
    flex-direction: column;
  }

  .site-footer__bottom .col-12 {
    flex-direction: column;
    p {
      padding-bottom: rem(20);
    }
  }
}
