/*----------------------------------------------------------------------------
  Post tile
----------------------------------------------------------------------------*/

.post-tile {
  a {
    text-decoration: none;
  }

  &__image {
    min-height: rem(250);
    width: 100%;
    cursor: pointer;
  }

  &__content {
    h4 {
      margin: rem(30) 0;
    }
  }
}