/*
 * Post List (Blog)
 *
 * Template part used on index.php
 */

.index--list {
  a {
    text-decoration: none;
  }

  .row {
    margin-bottom: rem(20);
    padding-bottom: rem(20);
    // border-bottom: rem(2) solid $offWhite;

    &:first-of-type {
      margin-top: rem(30);
    }

    &:last-of-type {
      border-bottom: none;
    }
  }
}

@media screen and (max-width: $small-breakpoint) {
  .index--list .col-7 {
    max-width: rem(355);
  }
}
