/*
 * Card Slider (global)
 *
 */

.card_slider {
  @include iPhoneX;
  background-color: $primary;

  .container {
    padding: rem(100) 0;
  }

  &__slider {

    .slick-list {
      padding: 0 rem(10) !important;
    }

    .single-card {
      display: flex;
      margin-right: rem(50);
      max-width: rem(900);
      min-height: rem(430);
      background-color: $white;

      .card-image {
        flex-basis: 60%;
      }

      .card-content {
        flex-basis: 40%;
        padding: rem(20);
        text-align: left;
      }

    }

  }

}

// Media Queries
@media screen and (max-width: $small-breakpoint) {

}