/*
 * Centered Text Block (Global)
 *
 * Template part used on various templates/views
 */

.centered-text-block {
  @include iPhoneX;

  &:target {
    scroll-margin-top: 100px;
  }

  &.single-post .container {
    padding-top: rem(140);
  }

  &.has-margin {
    margin-top: rem(30);
    margin-bottom: rem(30);
  }

  &__steps {
    padding: rem(40) 0;

    .single-steps {
      display: flex;
      margin-bottom: rem(30);

      .steps-numbers {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: rem(10) rem(20);
        background: $secondary;
        border-radius: 50%;
        font-size: rem(20);
        font-family: $din;
        margin-right: rem(25);
        height: rem(50);

        span {
          position: absolute;
        }
      }

      .steps-content {
        h3 {
          font-weight: bold;
          color: $gray;
        }

        h5 {
          color: $primary;
        }

        * {
          margin: 0;
        }
      }
    }
  }

  .container {
    padding: rem(50) 0;
    iframe {
      width: 100%;
      height: rem(600);
    }
  }

  &__featured-image {
    width: 100%;
    margin-bottom: rem(30);
  }

  .buttons {
    margin-top: rem(30);
  }

}

// Media Queries
@media screen and (max-width: $small-breakpoint) {
  .centered-text-block .container iframe {
    height: rem(200);
  }
}

