/*
 * Slider (Global)
 *
 * Template part used on various templates/views
 */

.slider-section {
  @include iPhoneX;

  .container {
    padding: rem(60) 0;
  }

  .col-12 {
    margin-bottom: rem(50);
  }

  .slick-slide {
    margin-bottom: rem(50);

    > div {
      height: 100%;
    }
  }

  &__slide {
    display: block !important;
    width: calc(100% - 40px) !important;
    height: 100%;
    margin: 0 auto;
    padding: rem(30);
    border-radius: rem(5);
  }

  .slider-section-related__slide {
    display: block !important;
    height: 100%;
    margin: 0 auto;
    padding: 0 rem(10);
    border-radius: rem(5);
  }

  .button {
    margin-top: rem(30);
  }
}
