/*
 * Text/Media Split (Global)
 *
 * Template part used on various templates/views
 */

.text-media-split {
  &.with-margin {
    margin-top: rem(30);
    margin-bottom: rem(30);
  }

  .row--reverse .text-media-split__text {
    display: flex;
    justify-content: flex-end;

    >div {
      padding: rem(50) rem(40) rem(40) rem(40);
    }
  }

  .row--reverse .text-media-split__image {
    div {
      left: auto;
      right: 0;
    }

  }

  .col-5,
  .col-7 {
    max-width: unset;
  }

  &__text {
    padding-top: rem(140);
    padding-bottom: rem(90);
    display: flex;
    justify-content: flex-start;

    >div {
      @include iPhoneX;
      max-width: rem(700);
      padding: rem(50) rem(40) rem(40) rem(40);
      background-color: $white;
      z-index: 5;
    }

  }

  &__image {
    position: relative;

    div {
      position: absolute;
      top: 0;
      left: 0;
      width: 150%;
      height: 100%;
    }

    .float-icon {
      position: absolute;
      font-size: rem(40);
      top: calc(50% - 40px);
      left: calc(50% - 40px);
      background: #ffffff8f;
      padding: rem(21) rem(20) rem(18) rem(26);
      border-radius: rem(50);
      z-index: 9;
    }
  }

  .button {
    margin-top: rem(30);
  }
}

// Media Queries
@media screen and (max-width: $small-breakpoint) {
  .text-media-split {
    &__text {
      max-width: 100%;
      padding: 0 !important;
      > div {
        padding: rem(10) rem(30) !important;
      }
    }

    &__image {
      order: -1;
      padding-bottom: 50%;
    }

    .sm-text-center * {
      text-align: center !important;
    }
  }
}