/*
 * Text/Image Split (Global)
 *
 * Template part used on various templates/views
 */

.text-image-split {
  &.with-margin {
    margin-top: rem(30);
    margin-bottom: rem(30);
  }

  .row--reverse .text-image-split__text {
    padding-right: rem(12.8);
    padding-left: rem(30);
  }

  .row--full-width {
    .text-image-split__text {
      padding-top: rem(110);
      padding-bottom: rem(110);
      padding-right: rem(60);
      padding-left: rem(85);
    }

    .row--reverse .text-image-split__text {
      padding-right: rem(60);
      padding-left: rem(85);
    }
  }

  .container {
    padding: 0;
  }

  &__steps {
    padding: rem(40) 0;
    .single-steps {
      display: flex;
      margin-bottom: rem(30);
      .steps-numbers {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: rem(20) rem(35);
        background: #4d4d4d;
        border-radius: 50%;
        font-size: rem(45);
        font-family: $din;
        margin-right: rem(25);
        height: rem(70);

        span {
          position: absolute;
        }
      }

      .steps-content {
        h3 {
          font-weight: bold;
          color: $gray;
        }
        h5 {
          color: $primary;
        }
        * {
          margin: 0;
        }
      }
    }
  }

  &__text {
    padding-top: rem(110);
    padding-bottom: rem(60);
    padding-right: rem(110);

    >div {
      @include iPhoneX;
    }
  }

  &__image {
    position: relative;
    overflow: hidden;

    div {
      position: absolute;
      top: 0;
      left: 0;
      width: 150%;
      height: 100%;
    }

    .float-icon {
      position: absolute;
      font-size: rem(40);
      top: calc(50% - 40px);
      left: calc(50% - 40px);
      background: #ffffff8f;
      padding: rem(21) rem(20) rem(18) rem(26);
      border-radius: rem(50);
      z-index: 9;
    }
  }

  .button {
    margin-top: rem(30);
  }
}

// Media Queries
@media screen and (max-width: $medium-breakpoint) {
  .text-image-split {
    &__text {
      max-width: 100%;
      padding: rem(10) rem(30) !important;
      > div {
        padding: 0;
      }
    }

    &__image {
      order: -1;
      padding-bottom: 100%;
    }

    .sm-text-center * {
      text-align: center !important;
    }
  }
}